// Top Hero
.top-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(lg) {
    .top-hero {
        height: 100vh;
        &__cnt {
            height: 100vh;
        }
    }
}