// Top Menu
.navbar-brand {
    &.top-logo {
        img {
            width: 130px;
        }
    }
}

#top-header {
    .navbar-nav {
        > li {
            > a {
                color: #1e2125;
                padding: 0.5rem 0.7rem;
                margin: 0 10px;
                font-size: 1rem;
                font-weight: 600;
                &:hover {
                    color: $blue;
                }
            }
            &.current_page_item {
                > a {
                    color: #1e2125;
                    text-decoration: underline;
                }
            }
        }
    }
}

.navbar-nav {
    .dropdown {
        .dropdown-toggle {
            position: relative;
            &:after {
                border-right: none;
                border-left: none;
                border-top: none;
                content: "\f107";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                position: absolute;
                top: 3px;
                @include media-breakpoint-up(xl) {
                    top: 8px;
                }
                transition: 0.5s;
            }
            &.show {
                &:after {
                    transition: 0.5s;
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.dropdown-menu {
    background: #fff;
    border-radius: 0;
    padding: 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    min-width: 13rem;
    border: none;
    .menu-item {
        border-bottom: 1px solid #f1f1f1;
        &:last-child {
            border: none;
        }
    }
    .dropdown-item {
        padding: 1rem 1rem 1rem 1.5rem;
        font-weight: 500;
        &:before {
            font-family: FontAwesome;
            content: "\f105";
            font-style: normal;
            font-weight: normal;
            position: absolute;
            left: 12px;
            color: #c5c5c5;
        }
        &:hover {
            background-color: $blue;
            color: #fff;
        }
        &.active {
            background-color: $blue;
            color: #fff;
        }
    }
}

// Btns & forms
.btn-yellow {
    @extend .btn;
    background: $yellow;
    color: $blue !important;
    &:hover,
    &:focus {
        color: $yellow !important;
        background: $blue;
    }
}

.btn-red,
.wpcf7-submit {
    @extend .btn;
    background: $red;
    color: #fff !important;
    &:hover,
    &:focus {
        color: $red !important;
        background: #fff;
    }
}

.btn-blue {
    @extend .btn;
    background: $blue;
    color: $yellow !important;
    &:hover,
    &:focus {
        color: $blue !important;
        background: $yellow;
    }
}

.form-control-yellow {
    @extend .form-control;
    border: 1px solid $yellow !important;
}

.btn-radius-more {
    border-radius: 35px;
}

//Qookis
.cookie-warn {
    box-sizing: border-box;
    z-index: 99999;
    overflow: hidden;
    color: #444;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: none;
    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__left-side {
        font-size: 12px;
    }
    &__right-side {
        font-size: 14px;
    }
    &__close-cookie-info {
        background: #e21927;
        color: #fff;
        border: 0;
        padding: 6px 9px;
        border-radius: 3px;
        margin: 0 0 0 20px;
        text-decoration: none !important;
    }
}
