// ------------------------------------ //
// #Typography rules
// ------------------------------------ //

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext");

//Poppins
$poppins-font-family: "Poppins", sans-serif;

html,
body {
    font-family: $poppins-font-family;
}

//Heading h1-h6 with font font
//h1 80px-50px
@media (min-width: 360px) {
    .font-title-1 {
        font-size: calc(3.125rem + ((1vw - 3.6px) * 1.9231));
        min-height: 0vw;
    }
}
@media (min-width: 1920px) {
    .font-title-1 {
        font-size: 80px;
    }
}

// h2 70px - 42px
@media (min-width: 360px) {
    .font-title-2 {
      font-size: calc(2.625rem + ((1vw - 3.6px) * 1.7949));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    .font-title-2 {
      font-size: 70px;
    }
  }

  //h3 50px-34px
  @media (min-width: 360px) {
    .font-title-3 {
      font-size: calc(2.125rem + ((1vw - 3.6px) * 1.0256));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    .font-title-3 {
      font-size: 50px;
    }
  }

  //h4 40px-28px
  @media (min-width: 360px) {
    .font-title-4 {
      font-size: calc(1.75rem + ((1vw - 3.6px) * 0.7692));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    .font-title-4 {
      font-size: 40px;
    }
  }

  //h5 30px-24px
  @media (min-width: 360px) {
    .font-title-5 {
      font-size: calc(1.5rem + ((1vw - 3.6px) * 0.3846));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    .font-title-5 {
      font-size: 30px;
    }
  }

  //h6 25px - 20px
  @media (min-width: 360px) {
    .font-title-6 {
      font-size: calc(1.25rem + ((1vw - 3.6px) * 0.3205));
      min-height: 0vw;
    }
  }
  @media (min-width: 1920px) {
    .font-title-6 {
      font-size: 25px;
    }
  }