// ------------------------------------ //
// #Colors
// ------------------------------------ //

$red: yellow;
$brown-brand: #774702;

$names: (red, brown-brand);
$colors: ($red, $brown-brand);

@each $name in $names {
    $i: index($names, $name);

    .bg-#{$name} {
        background-color: nth($colors, $i);
    }

    .text-#{$name} {
        color: nth($colors, $i);
    }
}
